
#linkit-modal { padding: 40px; }

#edit-link.with_imce {
  margin-bottom:10px;
}

#linkit-modal #edit-search {
  font-size: 1em;
  height: 2em;
  padding: 3px 25px 3px 5px;
  background: transparent url(../throbber-inactive.gif) no-repeat 99% 10px;
}

#linkit-modal #edit-search.fetching {
  background-image: url(../throbber-active.gif);
}

/* The attributes fieldset thinks it's better than Better Autocomplete. It is not. */
#linkit-modal .form-item-search {
  position: relative;
  z-index: 1;
}

/* Better Autocomplete */

.better-autocomplete {
  left: 1px;
  top: -1px;
}

.better-autocomplete > .result img {
  float: left;
  margin: 0 5px 5px 0;
}

/**
 * Clearfix
 * TODO: Clearfix in IE7 may need *:first-child + html .clearfix {
 */

.better-autocomplete > .result > p:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0;
}

/* Additional status types */

.better-autocomplete > .result.status-ok {
  background: #397928;
  border-top-color: #6ba15d;
}

.better-autocomplete > .result.status-warning {
  background: #8a3131;
  border-top-color: #b77878;
}

.better-autocomplete > .result.status-notice {
  border-top-width: 0;
  background: #575757;
}
