body#linkit { padding:1em; }

#linkit .auto-item-type {
  float:right;
  font-weight:bold; 
  font-size:10px;
}

#linkit .auto-item-title {
  margin-right:1.5em;
  float:left;
}

#linkit fieldset.collapsible .form-item { width:45%; }
#linkit fieldset.collapsible .form-item .form-text { width:100%; }
#linkit fieldset.collapsible .form-item  { float:left; }

#linkit #edit-id-wrapper,
#linkit #edit-rel-wrapper { margin-left:2em; }